body {
    background-color: #000;
    color: #aaa;
}
#login {
    padding: 10px;
}
#new_device_form {
    border-bottom: solid #111 1px;
}
.button, input {
    text-align: center;
    color: #bbb;
    padding: 5px;
    background: #000;
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 90%, rgba(100, 100, 100, 1) 100%);
    border-radius: 10px;
    border-top: solid 1px #111;
    border-right: solid 1px #222;
    border-left: solid 1px #111;
    border-bottom: solid 1px #aaa;
}